.item-slot {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-image: url("project://database/Assets/Icons/Background%20Light.png?fileID=2800000&guid=abb3a90770fe1ef4e926a5082d9cf099&type=3#Background Light");
    -unity-slice-left: 10;
    -unity-slice-top: 10;
    -unity-slice-right: 10;
    -unity-slice-bottom: 10;
}

.item-slot:hover {
    background-color: rgb(123, 123, 123);
}

.item-slot VisualElement {
    flex-basis: 0;
    flex-grow: 3;
    -unity-background-scale-mode: scale-to-fit;
}

.item-slot Label {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 9px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    -unity-text-align: middle-center;
    color: rgb(255, 255, 255);
}
