.inventory-pane {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    flex-grow: 1;
    flex-basis: 0;
    background-image: url("project://database/Assets/Icons/Background%20Dark.png?fileID=2800000&guid=e6c22da5f9621004c928063bb50ababb&type=3#Background Dark");
    -unity-slice-left: 10;
    -unity-slice-top: 10;
    -unity-slice-right: 10;
    -unity-slice-bottom: 10;
}

.item-slot {
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    flex-grow: 1;
    flex-basis: 0;
    background-image: url("project://database/Assets/Icons/Background%20Light.png?fileID=2800000&guid=abb3a90770fe1ef4e926a5082d9cf099&type=3#Background Light");
    -unity-slice-left: 10;
    -unity-slice-top: 10;
    -unity-slice-right: 10;
    -unity-slice-bottom: 10;
}

.item-slot VisualElement {
    -unity-background-scale-mode: scale-to-fit;
    flex-basis: 0;
    flex-grow: 3;
}

.item-slot Label {
    color: rgb(255, 255, 255);
    font-size: 14px;
    -unity-text-align: middle-center;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-basis: 0;
    flex-grow: 1;
}

#CharacterPanels > TemplateContainer {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}
