:root {
    flex-direction: row;
}

.left-button {
    width: 60%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 10%;
    font-size: 35px;
}
