.stat-entry {
    flex-direction: row;
    flex-grow: 0;
}

.stat-entry .stat-field {
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    -unity-text-align: upper-center;
    flex-direction: row;
}

.stat-entry .stat-field #1st {
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
}

.stat-entry .stat-field #3rd {
    margin-left: 0;
    margin-right: auto;
    padding-left: 0;
}
